body {
    background-color:blue;
    
    font-size: 30px;
    text-align: center;
    }

.texto {
    text-align: center;
    color:rgb(33, 31, 31)
    font-size: 20px
    
}
h1{ font-size: 50px;
}

