body {
    background-color:#489ce1;
    
    font-size: 30px;
    text-align: center;
    }

.texto {
    text-align: center;
    text-align:justify;
    color:rgb(33, 31, 31);
    font-size: 20px;
    background-color: #489ce1;
    
}
h1{ font-size: 50px;
}

